dbConfig.js
server.key
server.pem
firebaseAccountKey.json

mailAuth.js

legal/*.html
news/postillon/*.js
news/postillon/*.json

# ignoring all the modules
node_modules/

data.json
# just in case this repo will be public some time